<app-slider [nombre]="'Peliculas'" [size]="'small'"></app-slider>
<div class="center">
  <section id="content">
    <h1>{{ titulo }}</h1>
    <!-- <h1>SOLO PELIS</h1>
    <button (click)="cambioTitulo()">PULSAME</button> -->
    <hr />
    <div id="articles" *ngIf="peliculas">
      <!-- listado articulos -->
      <div *ngFor="let pelicula of peliculas; let i = index">
        <app-pelicula [pelicula]="pelicula"></app-pelicula>
      </div>
    </div>
</section>
  <app-sidebar></app-sidebar>
</div>
<div class="clearfix"></div>

